Source: missinglib
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ocaml-nox (>= 3.08), ocaml-tools (>= 2004.07.26-1), ocaml-findlib (>= 1.0.4-1), libounit-ocaml-dev (>= 1.0.0-3)
Standards-Version: 3.6.0

Package: libmissinglib-ocaml-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ocaml-nox (>= 3.08), ocaml-findlib (>= 1.0.4-1)
Description: Library of utility functions for OCaml
 The following modules are are provided:
 .
  AnyDBM                  Generic system for key/value persistent storage
  AnyDBM_String           CSV-like pure OCaml storage module for AnyDBM
  Compose                 Utilies for combining functions
  Composeoper             Operators for combining functions
  ConfigParser            System for parsing configuration files
  Fileutil                Utilities for working with files/names
  Hashtbloper             Hash table convenience operators
  Hashtblutil             Hash table utilities
  Lexingutil              Lexing-related utilities
  Listutil                List-manipulation utilities
  Slice                   Underlying API for Slice operators
  Sliceoper               Flexible subparts of arrays, lists, and strings
  Streamutil              Stream parser utilities
  Strutil                 String-related utilities
  Unixutil                Unix filesystem utilities
 .
 The entire library has no prerequisites save the OCaml standard library and
 findlib and is designed to install without complexity on a variety of
 systems.  It could also easily be embedded within your own source trees
 so that users need not have it installed beforehand.
