Source: missinglib
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ocaml-3.07, ocaml-base, ocaml-tools (>= 2004.04.10-1), ocaml-findlib, ocaml, libounit-ocaml-dev
Standards-Version: 3.6.0

Package: libmissinglib-ocaml-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ocaml-3.07, ocaml-findlib
Description: Library of utility functions for OCaml
 The following modules are are provided:
 .
  ConfigParser            System for parsing configuration files
  Hashtbloper             Hash table convenience operators
  Hashtblutil             Hash table utilities
  Lexingutil              Lexing-related utilities
  Listutil                List-manipulation utilities
  Slice                   Underlying API for Slice operators
  Sliceoper               Flexible subparts of arrays, lists, and strings
  Streamutil              Stream parser utilities
  Strutil                 String-related utilities
 .
 The entire library has no prerequisites save the OCaml standard library and
 findlib and is designed to install without complexity on a variety of
 systems.  It could also easily be embedded within your own source trees
 so that users need not have it installed beforehand.
